html,
body {
  overflow-x: hidden;
}

body {
  padding-bottom: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.contact-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

/* used on index.html */
.hero-image {
  background-image: url(../img/wood-on-shore.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* this is hacky - should probably replace with JS */
  height: 95.85vh;
}

.cover-headroom {
  padding-top: 10vh;
}

.lead-text {
  padding-left: 20px;
  padding-right: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* used on products.html */

.product-hero {
  background-image: url(../img/wood-stack.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* this is hacky - should probably replace with JS */
  height: 20vh;
}

.product-callout {
  margin-top: 50px;
}

.product-footer-adjustments {
  margin-top: 20px;
  margin-left: -50px;
  margin-right: -50px;
}

/* used on contact.html */
.contact-hero {
  background-image: url(../img/envelopes.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* this is hacky - should probably replace with JS */
  height: 20vh;
}

/* Color Theme Swatches in Hex */
.bg-custom-color-green {
  background-color: #8ba651;
}
.bg-custom-color-muted-green {
  background-color: #768c45;
}
.bg-custom-color-light-olive {
  background-color: #8b8c5e;
}
.bg-custom-color-olive {
  background-color: #595439;
}
.bg-custom-color-dark-blue {
  background-color: #262626;
}

.custom-color-green {
  color: #8ba651;
}
.custom-color-muted-green {
  color: #768c45;
}
.custom-color-light-olive {
  color: #8b8c5e;
}
.custom-color-olive {
  color: #595439;
}
.custom-color-dark-blue {
  color: #262626;
}
